github "Alamofire/Alamofire" ~> 4.1
github "Hearst-DD/ObjectMapper" ~> 3.1
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.0
github "auth0/JWTDecode.swift" ~> 2.1
github "ReactiveX/RxSwift" ~> 4.1
